<center>
  <h1>Welcome to the Party</h1>
  <h4> You connect with your friends, find a movie to enjoy, and schedule a party!</h4>
  <%= button_to 'Log In with Google', '/auth/google_oauth2', method: :get %>

</center>
