/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

div.party {
  border-style: solid;
  border-width: 2px;
  width: 70%;
  padding: 12px 20px;
  margin: 20px;
  color: #009973;
}

h1 {
  margin-top: 5%;
  font-size: 24;
  text-shadow: 1px 1px #afbdd6;
}
h2 {
  margin-top: 1%;
  font-size: 14;
  text-shadow: 1px 1px #afbdd6;
}

input {
  font-size: 16px;
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #e6fff9;
  color: #083a6b;
}

input[type="submit"] {
  background: #00cc99;
  color: #000;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #000;
  text-shadow:none;
}

label {
  font-size: 18px;
  font-weight: bold;
}
* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

body {
  height: 100%;
  width: 90%;
  margin: 20;
  padding: 10;
  left: 0;
  top: 0;
  font-size: 100%;
  background: rgb(248,173,157);
  background: linear-gradient(90deg, rgba(204, 255, 255,0.3909090909090909) 0%, rgba(0, 128, 128,0.925) 100%);
}
